.header {
  height: 60px;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid #ebebee;
  padding-left: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
